.card {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.card__description-item {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.card__like-button {
  background: transparent url(../images/like_button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  background-size: contain;
}
.card__like-button:hover {
  opacity: 0.6;
}

@media screen and (width: 320px) {
  .card__image {
    margin-top: 20px;
  }
}
