.footer {
  padding-top: 67px;
}

.footer__copyright {
  color: #545454;
  size: 18px;
}

@media screen and (width: 320px) {
  .footer {
    padding-top: 0;
  }
  .footer__copyright {
    margin-left: 19px;
    margin-top: 48px;
  }
}
