.header {
  padding-top: 45px;
  max-width: 880px;
}

@media screen and (width: 320px) {
  .header {
    padding-top: 28px;
    max-width: 880px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
